@import "tailwindcss";



* {
  box-sizing: border-box;
 
}
/* NAVBAR CSS */

.hamburger-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #a7aab0;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: #111118;
  z-index: 10;
  padding: 10px 16px;
  transition: right 0.25s ease;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar.open {
  right: 0;
}

.close-btn {
  background: none;
  border: none;
  color: #a7aab0;
  font-size: 18px;
  cursor: pointer;
  align-self: flex-end;
}

@media (max-width: 600px) {
  nav {
    height: 60px;
    padding: 0 15px;
  }
  .logo-link h1 {
    font-size: 27px;
  }
  .nav-links {
    display: none;
  }
  .hamburger-btn {
    display: block;
  }
  .sidebar ul li {
    list-style-type: none;
    margin-top: 10px;
    font-size: 20px;
  }
  .hire-mBtn {
    padding: 10px 0;
    border: none;
    cursor: pointer;
    color: #a7aab0;
    background: #492c67;
  }
}

/* HERO SECTION */


